body {
	background:#361752;
	margin:0 auto;
	overflow-y:scroll;
}
.wrapper {
	margin:0 auto;
	max-width:500px;
}
.wrapper .post-panel {
	height:30%;
	width:40%;
	float:left;
	margin-left:7%;
	margin-top:7%;
	border-radius:5px;
}
.wrapper .post-panel img {
	width:100%;
	height:100%;
	border-radius:5px;
}
.button {
	margin-top:25px;
	text-align:center;
	color:#fff;
	text-transform: uppercase;
}
button {
	border:none;
	background:#651B72;
	color:#fff;
	padding:10px 4%;
	text-transform:uppercase;
}
.btn {
	background:#d35400;
	text-align:center;
	color:#fff;
	padding:10px 5px;
	text-transform:uppercase;
	letter-spacing:5px;
}

/* ALERTS */
/* inspired by Twitter Bootstrap */

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #eed3d7;
  border-radius: 4px;
  position: absolute;
  bottom: 0px;
  right: 21px;
  /* Each alert has its own width */
  float: right;
  clear: right;
  background-color: white;
}

.alert-red {
  color: white;
  background-color: #DA4453;
}
.alert-green {
  color: white;
  background-color: #37BC9B;
}
.alert-blue {
  color: white;
  background-color: #4A89DC;
}
.alert-yellow {
  color: white;
  background-color: #F6BB42;
}
.alert-orange {
  color:white;
  background-color: #E9573F;
}

/*Popup box*/

.popup-position {
	position:fixed;
	top:0;
	left:0;
	background-color:rgba(0,0,0,.7);
	width:100%;
	height:100%;
	display:none;
}
#popup-wrapper {
	width:80%;
	margin:0 auto;
}
#popup-container {
	background:#fff;
	padding:100px 0px;
	margin-top:70px;
	text-align:center;
	border-radius:5px;
}
#popup-container a {
	background:#000;
	color:#fff;
	text-decoration:none;
	padding:10px 20px;
	border-radius:3px;
}











